[Desktop Entry]
Name=TruDE
Comment=TruDE desktop environment
Exec=uwsm start -e -D Hyprland hyprland.desktop
TryExec=uwsm
DesktopNames=Hyprland
Type=Application
